<mat-card class="main-container">
  <app-loader [allPage]="false" [isLight]="true" [noText]="true" [active]="isMapLoading"></app-loader>
  @if (!isMapLoading && !isErrorAccess) {
    <div class="map-header"></div>
    <div class="map-container">
      <app-map [mapId]="'rudi-map-tab'"
        [baseLayers]="baseLayers"
        [hasSearchAddress]="true"
        [metadata]="metadata"
        [media]="mediaToDisplay"
        >
      </app-map>
    </div>
  }
  @if (isErrorAccess) {
    <app-error-box
      [text]="'metaData.tabulatedDataTab.errorAccess' | translate"
      >
    </app-error-box>
  }
  @if (isErrorServer) {
    <app-error-box
      [text]="'metaData.tabulatedDataTab.errorDownloading' | translate"
      >
    </app-error-box>
  }
</mat-card>
