<mat-accordion>
    <mat-expansion-panel [expanded]="true" class="project-modified-expansion" (opened)="panelTaskOpenState.set(true)" (closed)="panelTaskOpenState.set(false)">
        <mat-expansion-panel-header>
            <mat-panel-title class="expansion-title"> {{ title ?? (section.label ?? section.fields[0].definition.label) }} </mat-panel-title>
        </mat-expansion-panel-header>
        <hr>
        <ng-container *ngFor="let field of section.fields">
            <ng-container *ngIf="field.values">
                    <ng-container [ngSwitch]="field.definition.type">
                        <ng-container *ngSwitchCase="fieldType.String">
                            <app-workflow-expansion-label
                                [label]="field.definition.label"
                                [value]="field.values[0]"
                            ></app-workflow-expansion-label>
                        </ng-container>
                        <ng-container *ngSwitchCase="fieldType.Date">
                            <app-workflow-expansion-date
                                [label]="field.definition.label"
                                [value]="field.values[0]"
                            ></app-workflow-expansion-date>
                        </ng-container>
                        <ng-container *ngSwitchCase="fieldType.List">
                            <app-workflow-expansion-label
                                [label]="field.definition.label"
                                [value]="getFieldListLabel(field.definition.extendedType, field.values)"
                            ></app-workflow-expansion-label>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <app-workflow-expansion-label
                                [label]="field.definition.label"
                                [value]="field.values[0]"
                            ></app-workflow-expansion-label>
                        </ng-container>
                    </ng-container>
            </ng-container>
        </ng-container>
    </mat-expansion-panel>
</mat-accordion>
