<ng-container [formGroup]="formGroup">
  <div class="d-flex">
    <mat-label [id]="'label-' + formControlName" class="field-label">{{label}}@if (required && !readonly) {
      <span class="required-symbol">*</span>
    }
  </mat-label>
</div>
@if (!readonly) {
  <mat-hint class="title-hint">{{help}}</mat-hint>
}
@if (!readonly) {
  <app-uploader
    [adapter]="attachmentAdapter"
    [enableCropper]="false"
    [fileMaxCount]="1"
    [fileMaxSize]="properties.fileMaxSize.toMegabytes()"
    [fileFormControl]="formControl"
    [fileExtensions]="allowedFileExtensions"
    (fileChanged)="submitForm.emit()"
    imageText="metaData.selfdataInformationRequest.imageUploader"
    imageFormat="metaData.selfdataInformationRequest.formatImage"
    errorText="metaData.selfdataInformationRequest.creation.error.errorUpload"
    [ariaLabelledby]="'label-' + formControlName"
  ></app-uploader>
}
<app-loader [allPage]="false" [isLight]="true" [noText]="true"
[active]="attachmentLoading || fileSizeLoading"></app-loader>
@if (readonly && !(attachmentLoading || fileSizeLoading)) {
  <div class="row attachment"
    [ngClass]="attachmentNotFound ? 'error-fake-input' : 'fake-input'">
    <div class="col-1">
      <mat-icon class="attachment-icon" svgIcon="attachment"></mat-icon>
    </div>
    @if (!attachmentNotFound) {
      <div class="col-10">
        <div class="image-name"> {{attachment.name}}</div>
        <div class="image-size">{{attachment.size | fileSize}}</div>
      </div>
    }
    @if (attachmentNotFound) {
      <div class="col-11 error-message"
      translate="metaData.selfdataInformationRequest.creation.error.errorLookupAttachment"></div>
    }
    @if (!attachmentNotFound) {
      <div class="col-1">
        <mat-icon class="download-attachment-icon" svgIcon="bouton_telecharger"
        (click)="handleClickAttachment()"></mat-icon>
      </div>
    }
  </div>
}
</ng-container>
