<div class="card-description-keyword">
  <mat-card class="card">
    <mat-card-title
      class="card-demand-label">{{'personalSpace.requestDetail.title'|translate}}
    </mat-card-title>
    <app-loader [active]="loading" [allPage]="false" [noText]="true" [isLight]="true"></app-loader>
    @if (!loading) {
      <mat-card-content>
        @if (!isNewRequest) {
          <div class="vertical-space">
            <span class="data-label">{{'personalSpace.requestDetail.datasetTitle'|translate}}</span> <br>
            <span class="data-value">{{requestDisplayData?.datasetTitle}}</span>
          </div>
        }
        @if (requestDisplayData?.receivedDate) {
          <div class="vertical-space">
            <span class="data-label">{{'personalSpace.requestDetail.requestDate'|translate}}</span> <br>
            <span class="data-value">{{requestDisplayData?.receivedDate?.toLocaleDateString()}}</span>
          </div>
        }
        @if (!isNewRequest) {
          <div class="vertical-space">
            <span class="data-label">{{'personalSpace.requestDetail.endDate'|translate}}</span> <br>
            <span class="data-value">{{formatEndDate(requestDisplayData?.endDate)}}</span>
          </div>
        }
        @if (requestDisplayData?.comment && requestDisplayData?.comment.trim() !== '') {
          <div class="vertical-space">
            <span class="data-label">{{'personalSpace.requestDetail.comment'|translate}}</span> <br>
            <span class="data-value">{{requestDisplayData?.comment}}</span>
          </div>
        }
      </mat-card-content>
    }
  </mat-card>
</div>
