@use "common-style";

:host ::ng-deep {
    .dialog-content {
        text-align: left;
        align-items: stretch;
    }

    .required-info {
        margin: 10px 0 40px 0;
    }

    app-workflow-form,
    app-workflow-field-template,
    app-workflow-field-attachment {
        text-align: left;

        .title-hint, mat-hint {
            text-align: left !important;
        }

        .label, mat-label {
            text-align: left !important;
        }
    }
}
