@import "common-style";

.noData {
    display: block;
    margin-bottom: 31px;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: var(--secondary-text);
}
