<ng-container [formGroup]="formGroup">
  <label for="input-{{userInputFormControlName}}">
    <span class="title">{{label}}@if (required && !readonly) {
      <span class="required-symbol" [attr.aria-label]="'common.requiredFieldLabel'|translate">*</span>
    }</span>
    <br/>
    @if (!readonly) {
      <span class="description">{{help}}</span>
    }
  </label>
  @if (!readonly) {
    <mat-form-field appearance="outline">
      <!-- Saisie manuelle de l'utilisateur -->
      <input id="input-{{userInputFormControlName}}" type="text" [matAutocomplete]="auto" matInput
        [formControlName]="userInputFormControlName"
        [readonly]="readonly"
        [required]="required && !readonly"
        autocomplete="street-address">
        <!-- Liste des adresses correspondant à la saisie -->
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="formatAddress"
          (optionSelected)="setSelectedAddress($event.option.value)">
          @for (address of addressList$ | async; track address) {
            <mat-option [value]="address">
              {{address.label}}
            </mat-option>
          }
        </mat-autocomplete>
        <mat-error>
          @for (error of userInputFormControl?.errors | keyvalue; track error) {
            <em class="fa fa-info-circle fa-2x me-2"></em>{{'common.validatorsErrors.' + error.key |translate}}<br/>
          }
        </mat-error>
        <!-- Stockage interne de l'adresse -->
        <input id="input-{{formControlName}}" type="hidden" [formControlName]="formControlName">
      </mat-form-field>
    }
    <app-loader [active]="adressLoading" [allPage]="false" [noText]="true" [isLight]="true"></app-loader>
    @if (readonly && !adressLoading) {
      <mat-form-field appearance="outline">
        <!-- Input en mode ReadOnly -->
        <input id="input-{{userInputFormControlName}}" type="text" matInput
          [class.input-error]="hasError"
          [formControlName]="userInputFormControlName"
          [readonly]="readonly"
          autocomplete="street-address">
        </mat-form-field>
      }
    </ng-container>
