<app-card [header]="!isLoading" [title]="graphData.title">
  <app-loader [allPage]="false" [isLight]="true" [noText]="true"
  [active]="isLoading"></app-loader>
  @if (!isLoading) {
    <div>
      <div class="data">
        @if (isLineOrPoint) {
          <app-d3-line-and-plot-chart
          [graphBar]="graphData"></app-d3-line-and-plot-chart>
        }
        @if (isBar) {
          <app-d3-bar-chart [graphBar]="graphData"></app-d3-bar-chart>
        }
      </div>
    </div>
  }
</app-card>
