@if (!isError) {
  <div>
    <app-loader [isTransparent]="true" [allPage]="false" [active]="isLoading != 0"></app-loader>
    @if (isLoading == 0) {
      <div class="d-flex gap-3">
        @for (socialNetwork of socialsNetworks; track socialNetwork) {
          <div class="footer-icon-container">
            <a class="footer-link" href="{{socialNetwork.url}}">
              <div class="icon-container" [innerHTML]="socialNetwork.icon"></div>
              {{socialNetwork.label}}
            </a>
          </div>
        }
      </div>
    }
  </div>
}
