<main id="main-content" tabindex="-1">
<app-page>
  <app-task-detail-header
    [headingLoading]="isLoading"
    [icon]="'organization_definition_key'"
    [pageSubTitle]="dependencies?.organization?.name"
    [pageTitle]=headerLibelle
    [status]="dependencies?.organization?.functional_status"
  ></app-task-detail-header>
  @if (!isLoading) {
    <div>
      <app-tabs>
        <app-tab [icon]="'icon_tab_organization'" [label]="'personalSpace.taskHistoryDetail.objectTab.organization' | translate">
          <ng-template>
            <div class="organization-details-container">
              <div class="organization-information-container">
                @if (hasSections && !isDeclaration) {
                  @for (section of currentTask?.asset?.form?.sections; track section) {
                    @if (isSectionVisible(section)) {
                      <app-workflow-expansion [section]="section"></app-workflow-expansion>
                    }
                  }
                }
                <mat-accordion>
                  <mat-expansion-panel [expanded]="true" class="organization-modified-expansion" (opened)="panelInitialTaskOpenState.set(true)" (closed)="panelInitialTaskOpenState.set(false)">
                    <mat-expansion-panel-header>
                      <mat-panel-title class="expansion-title">
                        {{ 'personalSpace.organizationDetails.currentOrganization' | translate }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <hr>
                      <app-task-organization-information
                      [organization]="displayedOrganization"
                      [imageBase64]="currentOrganizationImageBase64"
                    ></app-task-organization-information>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
                @if (ownerInfo | async; as ownerInformation) {
                  <div class="owner-information-container">
                    <app-owner-contact-card [email]="ownerInformation?.contact"
                      [name]="ownerInformation?.name"
                      [title]="'personalSpace.organizationDetails.supplier' | translate"
                    ></app-owner-contact-card>
                  </div>
                }
              </div>
            </ng-template>
          </app-tab>
          @for (action of actions; track action) {
            <app-banner-button (click)="openPopinForAction(action, false)"
              >
              {{ action.label }}
            </app-banner-button>
          }
        </app-tabs>
      </div>
    }
  </app-page>
</main>
