<ng-container [formGroup]="formGroup">
  <label [for]="'input-' + formControlName" class="d-flex">
    <span class="field-label">{{label}}@if (required) {
      <span class="required-symbol" [attr.aria-label]="'common.requiredFieldLabel'|translate">*</span>
    }</span>
  </label>
  @if (help) {
    <mat-hint [id]="'hint-' + formControlName" class="title-hint">{{help}}</mat-hint>
  }
  <mat-form-field appearance="outline">
    <input
      matInput
      type="date"
      [id]="'input-' + formControlName"
      [formControlName]="formControlName"
      [attr.aria-describedby]="help ? 'hint-' + formControlName : null"
      [readonly]="readonly"
      [required]="required"
      (keydown.control.enter)="submitForm.emit()"
      />
      <mat-error>
        <em class="fa fa-info-circle fa-2x me-2"></em>{{'common.requiredInformationError'|translate}}
      </mat-error>
    </mat-form-field>
  </ng-container>
