@use "app/styles/common-style";
@use "app/styles/responsive";

.demand-resume {
    margin-top: 20px;
}

.icon-header-title {
    line-height: 68.2px;
    margin-right: 1em;
}

.large-icon-size {
    height: 27px;
    width: 27px;
    vertical-align: center;
    fill: var(--accent-color);
}

.header-title {
    @include common-style.card-header-title;
}

.status-container {
    display: flex;
    justify-content: center;
    margin-bottom: 38px;

    .status-chip {
        border-radius: 14px;
        background-color: var(--background-s-lection-active-tableau);
        white-space: nowrap;
        padding: 5px 18px;
        font-size: 13px;
        color: var(--primary-color);
    }
}

.title-container {
    display: flex;
    justify-content: center;
}

@mixin mobile-screen {
    .title-container {
        padding: 8px 20px;
    }
}

@mixin desktop-screen {
    .title-container {
        padding: 8px 80px;
    }
}

@include responsive.xs() {
    @include mobile-screen;
}

@include responsive.sm() {
    @include mobile-screen;
}

@include responsive.md() {
    @include mobile-screen;
}

@include responsive.lg() {
    @include desktop-screen;
}

@include responsive.xl() {
    @include desktop-screen;
}
