<div class="card-description-keyword">
  <mat-card class="card">
    <mat-card-title
      class="card-demand-label">{{ 'personalSpace.requestDetail.title'|translate }}
    </mat-card-title>
    <app-loader [active]="loading" [allPage]="false" [isLight]="true" [noText]="true"></app-loader>
    @if (!loading) {
      <mat-card-content>
        @if (organization.uuid) {
          <div class="vertical-space">
            <label class="data-label">{{ 'personalSpace.organizationDetails.identifiant'|translate }}</label> <br>
            <span class="data-value">{{ organization.uuid }}</span>
          </div>
        }
        @if (organization.name) {
          <div class="vertical-space">
            <label class="data-label">{{ 'personalSpace.organizationDetails.nom'|translate }}</label> <br>
            <span class="data-value">{{ organization.name }}</span>
          </div>
        }
        @if (organization.description) {
          <div class="vertical-space">
            <label class="data-label">{{ 'personalSpace.organizationDetails.description'|translate }}</label> <br>
            <span class="data-value">{{ organization.description }}</span>
          </div>
        }
        @if (organization.address) {
          <div class="vertical-space">
            <label class="data-label">{{ 'personalSpace.organizationDetails.adresse' | translate }}</label> <br>
            <span class="data-value">{{ organization.address }}</span>
          </div>
        }
        @if (organization.url) {
          <div class="vertical-space">
            <label class="data-label">{{ 'personalSpace.organizationDetails.url'|translate }}</label> <br>
            <span class="data-value">{{ organization.url }}</span>
          </div>
        }
      </mat-card-content>
    }
  </mat-card>
</div>
