@use "common-style";

.card {
  padding: 0;
  box-shadow: none;
  border: none;

  mat-card-content {
    padding: 0;
  }
}

.organization-detail-image {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 200px;
  max-height: 150px;
  object-fit: contain;
}

.card-demand-label {
  @include common-style.card-demand-label;
}

.data-label {
  @include common-style.data-label;
}

.data-value {
  @include common-style.data-value;
}

.vertical-space {
  margin-bottom: 20px;
}

.mat-drawer-content {
  overflow-x: hidden;
}
