<div class="card-description-keyword">
    <mat-card class="card">
        <mat-card-title
            class="card-demand-label">{{ 'personalSpace.requestDetail.title'|translate }}
        </mat-card-title>
        <app-loader [active]="loading" [allPage]="false" [isLight]="true" [noText]="true"></app-loader>
        <mat-card-content *ngIf="!loading">
            <div *ngIf="organization.uuid" class="vertical-space">
                <label class="data-label">{{ 'personalSpace.organizationDetails.identifiant'|translate }}</label> <br>
                <span class="data-value">{{ organization.uuid }}</span>
            </div>
            <div *ngIf="organization.name" class="vertical-space">
                <label class="data-label">{{ 'personalSpace.organizationDetails.nom'|translate }}</label> <br>
                <span class="data-value">{{ organization.name }}</span>
            </div>
            <div *ngIf="organization.description" class="vertical-space">
                <label class="data-label">{{ 'personalSpace.organizationDetails.description'|translate }}</label> <br>
                <span class="data-value">{{ organization.description }}</span>
            </div>
            <div *ngIf="organization.address" class="vertical-space">
                <label class="data-label">{{ 'personalSpace.organizationDetails.adresse' | translate }}</label> <br>
                <span class="data-value">{{ organization.address }}</span>
            </div>
            <div *ngIf="organization.url" class="vertical-space">
                <label class="data-label">{{ 'personalSpace.organizationDetails.url'|translate }}</label> <br>
                <span class="data-value">{{ organization.url }}</span>
            </div>
        </mat-card-content>
    </mat-card>
</div>
