@import "common-style";

*:focus-visible {
    // on ne veut pas les rectangles bleu sur focus du champ input
    outline: none;
}

.card-api {
    padding: 2em;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.password-field {
    width: 33%;
}

.consumer-field-wrapper {
    margin-bottom: 2em;
}

.action-button {
    @include card-main-button;
    border-radius: 6px;
    padding: 0.5em;
    background-color: #004680;
    color: #ffffff;
    font-size: 14px;
    height: 47px;
    width: 130px;
}



.app-copied-style {
    width: 35em;
}

.title-keys {
    margin: 25px 420px 2px 3px;
    font-size: 13px;
    font-weight: 600;
    color: var(--primary-color);
}

.identification-title {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.72;
}

::ng-deep {
    .error-zone {
        height: 50px !important;

        span {
            vertical-align: middle;
        }
    }
}


.mdc-data-table__cell {
    padding: 0;
}

.mat-table-project-keys{
    width: 100%;
}
.table-title-style {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
.align-left{
    text-align: left;
}
.nom-key{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: var(--primary-color);
}
.table-keys {
    margin-top: 3em;
}

.table-header{
    font-size: 18px;
    font-weight: 600;
    color:var(--primary-text);
    //overide the mat table margin css
    padding: 0 !important;
}

.fake-btn-status {
    background-color: var(--banner-solid-color);
    border-radius: 14px;
    white-space: nowrap;
    padding: 5px 18px;
    font-size: 13px;
    border: none;
    height: 2.5em;
    margin-top: 20px;
}

.table-header:last-child {
    display: flex;
    justify-content: center;
    height: inherit;
}
.center{
    display: flex;
    justify-content: center;
    height: inherit;
    height: 5em;
}
td {
    text-align: left;
}

.second-row {
    width: 40%;
}

.third-row{
    text-align: center;
}

.first-row, .third-row {
    width: 25%;
}

fourth-row {
    width: 10%;
}

