@use "app/styles/common-style";

.workflow-label {
    padding-bottom: 0.25rem;

    color: var(--primary-color);
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
}

.workflow-label-title {
    display: flex;
}

.workflow-label-subtitle {
    margin-bottom: 1rem;
    margin-top: 1rem;

    color: var(--secondary-text);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    font-size: 18px;
}
