@use "app/styles/common-style";

.workflow-label {
    padding-bottom: 0.25rem;

    color: var(--primary-color);
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
}

.workflow-expansion-image {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  display: block;
  margin-top: 4px;
}
