<div *ngIf="processHistoricInformation$ | async as processHistoricInformation">

    <div class="no-result" *ngIf="processHistoricInformation.historicInformations?.length == 0">
        <h3>{{ 'personalSpace.projectTaskHistoric.noResult' | translate }}</h3>
    </div>

    <table *ngIf="processHistoricInformation.historicInformations.length > 0">
        <caption>
            {{ 'personalSpace.projectTaskHistoric.title' | translate }}
        </caption>
        <thead>
        <tr>
            <th class="date-label">{{ 'personalSpace.projectTaskHistoric.addAt' | translate }}</th>
            <th class="initiator-label">{{ 'personalSpace.projectTaskHistoric.initiator' | translate }}</th>
            <th class="step-label">{{ 'personalSpace.projectTaskHistoric.step' | translate }}</th>
            <th class="action-label">{{ 'personalSpace.projectTaskHistoric.action' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let historicInformation of processHistoricInformation.historicInformations">
            <td class="date-value">{{ historicInformation.endTime | date:'dd/MM/yyyy' }}</td>
            <td class="initiator-value">{{ historicInformation.assignee }}</td>
            <td class="step-value">
                <div class="blue-step">{{ historicInformation.activityName }}</div>
            </td>
            <td class="action-value">
                <div *ngIf="historicInformation.action">{{ historicInformation.action!! }}</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
