<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Owner refused body</title>
    <style type="text/css">
        body {
            font-family: Montserrat;
            font-size: 12px;
            color: #004680;
        }

        a {
            font-weight: bold;
            color: #004680;
        }

        a:hover {
            color: #004680;
        }
    </style>
</head>
<body style="font-family:Montserrat;font-size:12px;	color:#004680;">
<p>Bonjour,</p>

Initiator refused body

<p>
    A très bientôt, <br>
    L'équipe ${teamName} <br>
    <a href="${urlServer}">${urlServer}</a>
</p>
</body>