<mat-card [ngClass]="ngClass">
  @if (header) {
    <div>
      @if (title && icon && subTitle) {
        <div class="d-flex">
          <mat-icon class="mat-icon-card" aria-hidden="false" [svgIcon]="icon"></mat-icon>
          <div>
            <div class="card-title">{{title | translate}}</div>
            <div class="card-sub-title">{{subTitle | translate}}</div>
          </div>
        </div>
      }
      @if (title && icon && !subTitle) {
        <div class="d-flex">
          <mat-icon class="mat-icon-card" aria-hidden="false" [svgIcon]="icon"></mat-icon>
          <div>
            <div class="card-title">{{title | translate}}</div>
          </div>
        </div>
      }
      @if (title && !icon && !subTitle) {
        <div class="card-title">{{title | translate}}</div>
      }
    </div>
  }
  <ng-content></ng-content>
</mat-card>
