<div class="themes-section-container">
  @if (!isLoading && themes.length > 0) {
    <h2 class="title">{{ 'home.themesSection.title' | translate }}</h2>
  }
  <app-loader [isTransparent]="true" [noText]="true" [allPage]="false" [active]="isLoading"></app-loader>
  @if (!isLoading && canDisplaySwiper) {
    <app-rudi-swiper
      containerName="rudi-themes"
      [autoplay]="false"
      [loop]="true"
      [breakpoints]="cardSwiperBreakpoints"
      [ariaLabel]="'home.themesSection.title' | translate"
      ariaRoledescription="carrousel">
      @for (theme of themes; track theme; let i = $index) {
        <fieldset class="slide-group" [attr.aria-label]="theme.name + ' ' + (i + 1) + ' sur ' + themes.length" aria-roledescription="diapositive">
          <button
            type="button"
            class="theme-card"
            [attr.aria-pressed]="selectedThemeCode === theme.code"
            [attr.aria-label]="theme.name"
            [class.theme-card--selected]="selectedThemeCode === theme.code"
            (click)="onClickThemeCard(theme.code)">
            <mat-icon
              class="theme-picto"
              [svgIcon]="theme.code"
              role="img"
              [attr.aria-label]="theme.name"
              aria-hidden="false">
            </mat-icon>
            <span class="theme-name">{{theme.name}}</span>
          </button>
        </fieldset>
      }
    </app-rudi-swiper>
  }
  @if (!isLoading && !canDisplaySwiper) {
    <ul class="theme-container">
      @for (theme of themes; track theme) {
        <li class="theme-list-item">
          <button
            type="button"
            class="theme-card"
            [attr.aria-pressed]="selectedThemeCode === theme.code"
            [attr.aria-label]="theme.name"
            [class.theme-card--selected]="selectedThemeCode === theme.code"
            (click)="onClickThemeCard(theme.code)">
            <mat-icon
              class="theme-picto"
              [svgIcon]="theme.code"
              role="img"
              [attr.aria-label]="theme.name"
              aria-hidden="false">
            </mat-icon>
            <span class="theme-name">{{theme.name}}</span>
          </button>
        </li>
      }
    </ul>
  }
</div>

