<!DOCTYPE html>
<html lang="fr">
<head>
    <title>${projectName} - Demande de partenariat sur la réutilisation ${asset.title}</title>
    <style type="text/css">
        body {
            font-family: Montserrat;
            font-size: 12px;
            color: #004680;
        }

        a {
            font-weight: bold;
            color: #004680;
        }

        a:hover {
            color: #004680;
        }
    </style>
</head>
<body style="font-family:Montserrat;font-size:12px;	color:#004680;">
<div>
    <p>Bonjour,</p>
    <p>
        Une demande de partenariat à la réutilisation <a
                href="${urlServer}/projets/detail/${asset.uuid}">${asset.title}</a> a été émise
        par <#if asset.ownerType?? && asset.ownerType == "ORGANIZATION"><a
        href="${urlServer}/organization/detail/${asset.ownerUuid}">${projectOwner}</a><#else>${projectOwner}</#if>.
    </p>
    <p>
        Veuillez-vous connecter afin de traiter la demande depuis votre espace personnel en cliquant <a
                href="${urlServer}/login">ici</a>.
    </p>
    <p>
        À très bientôt, <br>
        L'équipe ${teamName} <br>
        <a href="${urlServer}">${urlServer}</a>
    </p>
</div>
</body>
</html>
