@use "common-style";


.card-description-keyword {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

.card-description-keyword-row {
    padding: 0 20px;
}

.card-demand-label {
    @include common-style.card-demand-label;
    margin: 0 105px 8px 2px;
}

.vertical-space {
    margin-bottom: 20px;
}

.data-label {
    @include common-style.data-label;
}

.data-value {
    @include common-style.data-value;
}
