<div class="pointer d-flex justify-content-end sort-component">

  <!--Choix du tri-->
  <button (onMenuClose)="toggleMenu()"
    (onMenuOpen)="toggleMenu()"
    [matMenuTriggerFor]="sortMenu"
    class="button rudi-simple-menu-button"
    disableRipple="true"
    mat-button
    >
    @if (selectedItem) {
      {{'sortBox.orderedBy'|translate|uppercase}} :
      <span class="selected aligned">
        {{ selectedItem.libelle }}
      </span>
    }
    @if (!selectedItem) {
      {{'sortBox.sort'|translate|uppercase}}
    }
    <mat-icon iconPositionEnd class="rudi-select-arrow">
      @if (!menuIsOpened) {
        keyboard_arrow_down
      }
      @if (menuIsOpened) {
        keyboard_arrow_up
      }
    </mat-icon>
    <mat-menu #sortMenu="matMenu" class="rudi-sort-menu" xPosition="after">
      <div class="rudi-select-panel" fxLayout="column">
        @for (item of items; track item) {
          <button (click)="selectedItem = item"
            [ngClass]="{selected: item === selectedItem}"
            mat-menu-item>
            {{item.libelle}}
          </button>
        }
      </div>
    </mat-menu>
  </button>

</div>
