@if (displayComponent) {
  <div class="project-values-section-container">
    <div class="project-values-background"></div>
    <div class="project-values-container">
      <div class="project-values-text-container">
        <h2 class="project-values-heading d-sm-block d-md-flex align-items-baseline column-gap-2">
          <span class="project-values-title">{{ cmsProjectValuesDescription.title1 }}</span>
          <span class="project-values-subtitle">{{ cmsProjectValuesDescription.title2 }}</span>
        </h2>
        <p class="project-values-description">{{ cmsProjectValuesDescription.description }}</p>
      </div>
      <div class="project-values-row">
        @for (projectValue of projectValues; track projectValue) {
          <div [innerHTML]="projectValue"
          [ngClass]="'project-values'"></div>
        }
      </div>
    </div>
  </div>
}

