<app-page>
    <app-task-detail-header
        [headingLoading]="isLoading"
        [icon]="'organization_definition_key'"
        [pageTitle]="headerLibelle"
        [pageSubTitle]="dependencies?.linkedProducer?.organization?.name"
        [status]="dependencies?.linkedProducer?.functional_status"
    ></app-task-detail-header>
    <div *ngIf="!isLoading">
        <app-tabs>
            <app-tab [icon]="'key_icon_circle'" [label]="'personalSpace.organizationDetails.demande' | translate">
                <ng-template>
                    <div class="producer-link-details-container">
                        <div class="producer-link-information-container">
                            <app-organization-information
                                [organization]="dependencies?.linkedProducer?.organization"></app-organization-information>
                        </div>
                        <div class="owner-information-container" *ngIf="ownerInfo | async as ownerInformation">
                            <app-owner-information [email]="ownerInformation?.contact"
                                                   [name]="ownerInformation?.name"
                                                   [title]="'personalSpace.organizationDetails.nodeProvider' | translate"
                            ></app-owner-information>
                        </div>
                    </div>
                </ng-template>
            </app-tab>

            <app-banner-button (click)="openPopinForAction(action, false)"
                               *ngFor="let action of actions">
                {{ action.label }}
            </app-banner-button>

        </app-tabs>
    </div>
</app-page>
