<main id="main-content" tabindex="-1">
<app-page>
  <app-task-detail-header
    [headingLoading]="isLoading"
    [icon]="'organization_definition_key'"
    [pageTitle]="headerLibelle"
    [pageSubTitle]="dependencies?.linkedProducer?.organization?.name"
    [status]="dependencies?.linkedProducer?.functional_status"
  ></app-task-detail-header>
  @if (!isLoading) {
    <div>
      <app-tabs>
        <app-tab [icon]="'key_icon_circle'" [label]="'personalSpace.organizationDetails.demande' | translate">
          <ng-template>
            <div class="producer-link-details-container">
              <div class="producer-link-information-container">
                <app-task-organization-information
                [organization]="dependencies?.linkedProducer?.organization"></app-task-organization-information>
              </div>
              @if (ownerInfo | async; as ownerInformation) {
                <div class="owner-information-container">
                  <app-owner-contact-card [email]="ownerInformation?.contact"
                    [name]="ownerInformation?.name"
                    [title]="'personalSpace.organizationDetails.nodeProvider' | translate"
                  ></app-owner-contact-card>
                </div>
              }
            </div>
          </ng-template>
        </app-tab>
        @for (action of actions; track action) {
          <app-banner-button (click)="openPopinForAction(action, false)"
            >
            {{ action.label }}
          </app-banner-button>
        }
      </app-tabs>
    </div>
  }
</app-page>
</main>
