@if (workflowForm) {
  <form [formGroup]="formGroup">
    @for (section of workflowForm.sections; track section) {
      @if (section | isSectionOnlyHelp) {
        <div class="help-title">
          <span>{{section.help}}</span>
        </div>
      }
      @if (section | isSectionDisplayed) {
        <label class="section-title-container">
          <span class="title">{{section.label}}</span>
          @if (section.help != null) {
            <span class="description">{{section.help}}</span>
          }
        </label>
      }
      <ng-container>
        <ng-container *ngTemplateOutlet="fields"></ng-container>
      </ng-container>
      <ng-template #fields>
        @for (field of section.fields; track field) {
          <app-workflow-field-template
            [formGroup]="formGroup"
            [section]="section"
            [field]="field"
            [properties]="properties"
            (submitForm)="submit()"
          ></app-workflow-field-template>
        }
      </ng-template>
    }
  </form>
}
