@import 'ckeditor5/ckeditor5.css';

.ck-editor__editable_inline {
    min-height: 16rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.ck.ck-editor__editable_inline p {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

