@use "app/styles/common-style";


// Espace vertical sous le <hr> (entre le hr et le premier élément du contenu)
// Appliqué à toutes les instances de app-workflow-expansion (projekt + organization)
hr {
    margin-bottom: 16px;
}

.periode-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
}

.text-area-height {
    height: 160px !important;
}

.msg-to-moderator-form {

    & .title {
        margin: 0 0 15px;
        font-size: 26px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: var(--primary-color);
    }

    & .hint {
        width: 608px;
        margin: 5px 32px 12px 0;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #71757e;
    }
}

*:focus-visible {
    // on ne veut pas les rectangles bleu sur focus du champ input
    outline: none;
}
