.owner-card-info {
    display: block;

    .section-title {
        font-weight: bold;
        display: block;
        font-size: 18px;
    }

    .related-organizations-divider {
        margin-top: 30px;
        margin-bottom: 0;
        border: none;
        border-top: 1px solid var(--primary-separator-light);
    }

    .related-organizations-title {
        margin-top: 12px;
    }

    app-owner-contact-information.owner-contact {
        margin-top: 20px;
        display: block;
    }

    .related-organizations-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 10px;
    }

    app-owner-contact-information.related-organization-contact {
        display: block;
        margin: 0;
    }
}

