<div>
    <p class="explanation-text">{{label}}</p>
    <mat-form-field class="password-field">
        <mat-label for="password-input">{{'personalSpace.projectApi.password' | translate}}</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" autocomplete="current-password" [(ngModel)]="password"
               id="password-input"
               (ngModelChange)="emitPassword()">
        <mat-icon matSuffix class="icon" (click)="hidePassword = !hidePassword" [attr.aria-label]="(hidePassword ? 'common.showPassword' : 'common.hidePassword')|translate">
            {{hidePassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>
    </mat-form-field>
</div>
