<div class="project-container">
    <app-loader [active]="isLoading"></app-loader>
    <div *ngIf="!isUpdating">
        <div class="d-flex justify-content-between">
        <mat-card-title *ngIf="showTitle" class="card-title">
            {{ 'personalSpace.project.reutilisation'|translate }}
        </mat-card-title>
            <button mat-raised-button class="primary-raised-button right mb-2"
                    *ngIf="isProjectUpdatable && showTitle"
                    (click)="updateProjectTaskInfo()">
                {{ 'personalSpace.project.updateInformations'|translate }}
            </button>
        </div>
        <!--bouton modification réutilisation-->
        <div class="d-flex justify-content-end">
        <button mat-raised-button class="primary-raised-button right mb-2"
                *ngIf="isProjectUpdatable && !showTitle"
                (click)="updateProjectTaskInfo()">
            {{ 'personalSpace.project.updateInformations'|translate }}
        </button>
        </div>
    </div>
    <mat-card-content *ngIf="project" class="p-0">
        <ng-container *ngIf="!isUpdating; else updateProjectForm">
            <!--titre de la réutilisation-->
            <app-project-main-information-label
                [label]="'personalSpace.project.reutilisationTitle'|translate"
                [value]="project.title | toString"
            ></app-project-main-information-label>

            <!--description de la réutilisation-->
            <app-project-main-information-label
                [label]="'personalSpace.project.description'|translate"
                [value]="project.description | toString"
            ></app-project-main-information-label>

            <!--période | dateDebut | dateFin-->
            <app-project-main-information-date
                *ngIf="this.project.expected_completion_end_date || this.project.expected_completion_start_date"
                [startDate]="this.project.expected_completion_start_date"
                [endDate]="this.project.expected_completion_end_date"
            ></app-project-main-information-date>

            <!--support desiré -->
            <app-project-main-information-label
                [label]="'personalSpace.project.targetAudience'|translate"
                [value]="project.target_audiences | toString "
            ></app-project-main-information-label>

            <!--échelle-->
            <app-project-main-information-label
                [label]="'personalSpace.project.scale' | translate"
                [value]="project.territorial_scale?.label | toString"
            ></app-project-main-information-label>

            <!--territoire concernée-->
            <app-project-main-information-label
                [label]="'personalSpace.project.territorialScale'| translate"
                [value]="project.detailed_territorial_scale | toString"
            ></app-project-main-information-label>

            <!--statut de la réutilisation  -->
            <app-project-main-information-label
                [label]="'personalSpace.project.reuseStatus' | translate"
                [value]="project.reutilisation_status?.label | toString"
            ></app-project-main-information-label>

            <!--type de réutilisation -->
            <app-project-main-information-label
                [label]="'personalSpace.project.re-use'|translate"
                [value]="project.type?.label | toString"
            ></app-project-main-information-label>

            <!--support desiré -->
            <app-project-main-information-label
                [label]="'personalSpace.project.desiredSupport'|translate"
                [value]="project.desired_supports | toString"
            ></app-project-main-information-label>

            <!--confidentialité -->
            <app-project-main-information-label
                [label]="'personalSpace.project.confidentiality'|translate"
                [value]="project.confidentiality?.label | toString"
            ></app-project-main-information-label>

            <!--URL d'accès -->
            <app-project-main-information-label
                [label]="'personalSpace.project.url'|translate"
                [value]="project.access_url | toString"
            ></app-project-main-information-label>

        </ng-container>

        <ng-template #updateProjectForm>
                <!--Section de message au modérateur-->
                <form class="msg-to-moderator-form" [formGroup]="messageToModeratorFormGroup">
                    <div>
                        <h2 class="title">{{ 'personalSpace.project.updateMyReuse'|translate }} </h2>
                        <p class="description">{{ 'personalSpace.project.updateMyReuseHint'|translate }} </p>

                        <p class="label">{{ 'personalSpace.project.msgToModeratorLabel'|translate }}</p>
                        <mat-form-field class="w-100" appearance="outline" hideRequiredMarker>
                                        <textarea formControlName="messageToModerator" class="text-area-height" type="text" matInput
                                                  autocomplete="off"></textarea>
                        </mat-form-field>
                    </div>

                </form>
            <p class="my-reuse-recap">{{ 'personalSpace.project.myReuseRecap'|translate }}</p>
            <app-step1-project [step1FormGroup]="step1FormGroup"
                               [suggestions]="suggestions"
                               [publicCible]="publicCible"
                               [reuseStatus]="reuseStatus"
                               [territoireScale]="territorialScales"
                               [supports]="supports"
                               [projectType]="projectType"
                               (imageModified)="handleImageChanged($event)">
            </app-step1-project>

            <div class="d-flex justify-content-between flex-wrap">
                <button mat-stroked-button class="secondary-stroked-button"
                        (click)="updateProjectTaskInfo()">
                    {{ 'personalSpace.project.annuler'|translate }}
                </button>

                <button mat-raised-button class="primary-raised-button right"
                        (click)="updateConfirmation()">
                    {{ 'personalSpace.project.confirmer'|translate }}
                </button>
            </div>
        </ng-template>
    </mat-card-content>
</div>
