<!-- Données personnelles -->
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title class="panel-title">
      {{ title }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p class="panel-subtitle">{{ subTitle }}</p>

  @if (!isNotApplicable) {
    <p class="panel-description">{{ description }}</p>
  }
  @if (isNotApplicable) {
    <div>
      <ul>
        @for (reason of nonApplicableReasons; track reason) {
          <li class="panel-description">{{ reason }}
          </li>
        }
      </ul>
    </div>
  }

  @if (!isNotApplicable) {
    <div class="d-flex panel-content-margin">
      @if (!hasRequest) {
        <div>
          <button mat-raised-button class="primary-raised-button" [disabled]="disableButton"
            (click)="handleClickButton()">
            <span>{{ creationLabel }}</span>
          </button>
        </div>
      }
      @if (hasRequest) {
        <div class="d-flex">
          <div class=" label-status">
            <span>{{ functionalStatus }}</span>
          </div>
          @if (false) {
            <div class="panel-demand-link-details">
              <a (click)="goToRequestDetails()"
                [translate]="'personalSpace.selfdataRequest.informationRequest.btnSeeRequestDetailsLabel'">
              </a>.
            </div>
          }
        </div>
      }
    </div>
  }
  <hr>
  </mat-expansion-panel>
