<ng-container [formGroup]="formGroup">
  <div class="d-flex">
    <mat-label id="label-{{formControlName}}">{{label}}@if (required && !readonly) {
      <span class="required-symbol">*</span>
    }</mat-label>
  </div>
  @if (!readonly) {
    <mat-hint class="title-hint">{{help}}</mat-hint>
  }
  <mat-form-field appearance="outline">
    <input autocomplete="off" [formControlName]="formControlName"
      [readonly]="readonly"
      id="input-{{formControlName}}"
      [attr.aria-labelledby]="'label-' + formControlName"
      matInput
      type="text"
      (keydown.control.enter)="submitForm.emit()">
      <mat-error>
        <em class="fa fa-info-circle fa-2x me-2"></em>
        @if (formControl?.hasError('required')) {
          {{'common.validatorsErrors.required'|translate}}
        } @else if (formControl?.hasError('pattern')) {
          {{'common.validatorsErrors.pattern'|translate}}
        } @else if (formControl?.hasError('maxlength')) {
          {{'common.validatorsErrors.maxlength'|translate}}
        } @else {
          {{'common.requiredInformationError'|translate}}
        }
      </mat-error>
    </mat-form-field>
  </ng-container>
