<div class="strength strength{{strength}}">
  <!--suppress JSUnusedGlobalSymbols -->
  @for (criterion of criteria; track criterion; let barStrength = $index) {
    <ul [ngClass]="{'passed': strength > barStrength }"
      class="strengthBar">
      <li class="point"></li>
    </ul>
  }
  <ng-container>
    @for (criterion of criteria; track criterion) {
      <p [class]="criterion.accepts(password) ? 'accepts' : 'refuses'"
      class="criterion">{{ 'strengthPassword.' + criterion.i18nKey | translate }}</p>
    }
  </ng-container>
  <br>
  </div>
