<div>
  <app-loader [allPage]="false" [isLight]="true" [noText]="true"
  [active]="displayTableLoading"></app-loader>
  @if (!displayTableLoading) {
    @if (displayTable) {
      <div class="tabulatedData">
        {{'metaData.tabulatedData'|translate}}
      </div>
    }
    <!--   search zone-->
    @if (displayTable) {
      <div class="d-flex justify-content-between mb-5">
        <div>
          <app-spreadsheet-search
            inputId="spreadsheet-search-input"
            [libelle]="'searchbox.searchInData'"
            (searchTermsEmitter)="onSearchChanged($event)">
          </app-spreadsheet-search>
        </div>
        <button mat-raised-button class="button btn-outline" (click)="switchHeader()">
          <mat-checkbox
            (click)="$event.preventDefault()"
            [checked]="usesHeader">
          </mat-checkbox>
          {{'metaData.tabulatedDataTab.tableHeadingBtn'|translate}}
        </button>
      </div>
    }
    @if (displayResults) {
      <div class="tabulatedData">
        {{displayTableData.rowData.length}}
        <span> {{'searchbox.results'|translate}}{{displayTableData.rowData.length > 1 ? 's' : ''}}</span>
      </div>
    }
    @if (errorAccess) {
      <app-error-box
        [text]="'metaData.tabulatedDataTab.errorAccess' | translate"
        >
      </app-error-box>
    }
    @if (errorDownloading) {
      <app-error-box
        [text]="'metaData.tabulatedDataTab.errorDownloading' | translate"
        >
      </app-error-box>
    }
    @if (businessErrorMessage) {
      <app-error-box
        [text]="businessErrorMessage"
        >
      </app-error-box>
    }
    @if (displayTable) {
      <app-spreadsheet
        [caption]="metadata?.resource_title"
        [columnDefs]="displayTableData.columnDefs"
        [rowData]="displayTableData.rowData"
      ></app-spreadsheet>
    }
  }
</div>
