form {
    text-align: left;
    margin: 21px 0 0;
}

mat-label {
    margin: 0 0 7px 0;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
}

mat-hint {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--primary-text-light);
}

mat-form-field {
    width: 100% !important;
    border-radius: 4px;
    margin-top: 7px;
}

.stepper-mat-error {
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--error-color);
}

.label-container {
    display: flex;
    margin-top: 20px;
}





