@use "common-style";

.project-header {
    display: flex;
    margin-left: 80px;
    padding-top: 20px;
}


.project-modified-expansion {
    margin-top: 15px;
}

.project-section {
    border: 1px solid var(--self-data-border-color);
    border-radius: 7px;
    box-sizing: border-box;
    padding: 15px 30px;
    margin-top: 15px;
}

.project-details-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    .project-metadata-container {
        padding: 0;
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 16px;

        .project-metadata {
            @extend .project-section;
        }
    }

    app-owner-information {
        padding: 16px 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .project-details-container {
        flex-wrap: nowrap;

        .project-metadata-container {
            flex: 0 0 66.6667%;
            max-width: 66.6667%;
            padding-right: 1.5rem;
        }

        app-owner-information {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }
}

::ng-deep.mat-expansion-panel-body {
    margin-top: -20px;
}
