<main id="main-content" tabindex="-1">
<app-page>
  <app-loader [allPage]="false" [isTransparent]="true" [noText]="true"
  [active]="searchUrlLoading"></app-loader>
  @if (!searchUrlLoading) {
    <app-page-title
      [title1]="'personalSpace.myNotifications.title'|translate"
      [title3]="'personalSpace.myNotifications.explainationText'|translate"
      [title4]="'personalSpace.myNotifications.linkText'|translate"
      [urlToDoc]="urlToDoc"
    class="d-flex justify-content-center w-100"></app-page-title>
  }


  <app-tabs>
    <app-tab [label]="'personalSpace.myNotifications.tabTitle'|translate"
      [icon]="'icon-demands'">
      <ng-template>
        <!-- reload est appelé par TasksComponent à chaque fois que l'onglet est affiché -->
        <app-tasks [loading]="searchIsRunning"
          [requestsToStudy]="requestsToStudy"
        (reload)="loadTasks()"></app-tasks>
      </ng-template>
    </app-tab>
    <app-tab [label]="'personalSpace.myTasksHistories.tabTitle'|translate"
      [icon]="'icon-my-reuses'">
      <ng-template>
        <app-my-tasks-histories-tab></app-my-tasks-histories-tab>
      </ng-template>
    </app-tab>
  </app-tabs>
</app-page>
</main>
