@if (showMatchingDataCard) {
  <div>
    <app-loader [allPage]="false" [isLight]="false"
    [active]="matchingDataLoading"></app-loader>
    @if (!matchingDataLoading) {
      <app-card [title]="'personalSpace.matchingData.title'|translate" [header]="true">
        <hr>
          @for (data of data; track data) {
            <div class="radio-body">
              <div class="label">{{data.label}}</div>
              <div class="value">{{data.value}}</div>
            </div>
          }
        </app-card>
      }
    </div>
  }
