@use "responsive";
@import url("swiper/css");

.section-container {
    padding-top: 20px;
}

.title-container {
    text-align: center;
    margin: 0 0 10px;

    .title1 {
        display: block;
        margin-right: 10px;
        font-size: 38px;
        color: var(--primary-color);
        font-weight: 700;
    }

    .title2 {
        display: block;
        font-size: 38px;
        color: var(--accent-color);
    }
}

.subtitle-container {
    .subtitle {
        margin-bottom: 10px;
        font-size: 20px;
        color: var(--primary-color);
    }
}

.description-container {
    max-width: 700px;
    margin-bottom: 30px;

    .description {
        text-align: center;
    }
}

.swiper-slide {
    width: 100% !important;
}

.card-container {
    padding: 0 10px;
}

.submit-project-link {
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: var(--focus);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: var(--primary-color);
    }
}

@mixin mobile-screen {
    .desktop-list-container {
        display: none;
    }

    .mobile-list-container {
        display: block;
    }
}

@mixin desktop-screen {
    .desktop-list-container {
        display: flex;
        width: 90%;
        margin: auto;
    }

    .mobile-list-container {
        display: none;
    }
}

@include responsive.xs() {
    @include mobile-screen;
}

@include responsive.sm() {
    @include mobile-screen;
}

@include responsive.md() {
    @include desktop-screen;
}

@include responsive.lg() {
    @include desktop-screen;
}

@include responsive.xl() {
    @include desktop-screen;
}
