<ng-container [formGroup]="formGroup">
  <label [for]="'input-' + formControlName" class="d-flex">
    <span class="field-label">{{label}}@if (required && !readonly) {
      <span class="required-symbol" [attr.aria-label]="'common.requiredFieldLabel'|translate">*</span>
    }</span>
  </label>
  @if (!readonly && help) {
    <mat-hint class="title-hint">{{help}}</mat-hint>
  }
  <mat-form-field appearance="outline">
    <input autocomplete="off" [formControlName]="formControlName"
      #phoneInput
      [readonly]="readonly"
      [id]="'input-' + formControlName"
      matInput
      type="tel"
      inputmode="numeric"
      maxlength="14"
      (input)="onPhoneInput()"
      [required]="required && !readonly"
      (keydown.control.enter)="submitForm.emit()">
      <mat-error>
        <em class="fa fa-info-circle fa-2x me-2"></em>
        @if (formControl?.hasError('required')) {
          {{'common.validatorsErrors.required'|translate}}
        } @else if (formControl?.hasError('pattern')) {
          {{'common.validatorsErrors.pattern'|translate}}
        } @else if (formControl?.hasError('maxlength')) {
          {{'common.validatorsErrors.maxlength'|translate}}
        } @else {
          {{'common.requiredInformationError'|translate}}
        }
      </mat-error>
    </mat-form-field>
  </ng-container>
