@use "responsive";

@import url("swiper/css");
@import url("swiper/css/navigation");
@import url("swiper/css/pagination");
@import url("swiper/css/grid");

.swiper-container {
    width: 100%;
    height: 100%;
    margin: auto;

    .swiper {
        width: 100%;
        height: 100%;
        padding: 10px 0 25px 0;
    }

    .swiper-button-next, .swiper-button-prev {
        top: var(--swiper-button-top-offset, 60px);

        &::after {
            content: none;
        }
    }

    .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 0);
    }

    .swiper-button-next {
        right: var(--swiper-navigation-sides-offset, 0);
    }

    @mixin nav-button-for-small-screens {
        .swiper-button-next, .swiper-button-prev {
            top: var(--swiper-navigation-top-offset, 35%);
        }
    }

    @include responsive.xs() {
        @include nav-button-for-small-screens;
    }

    @include responsive.sm() {
        @include nav-button-for-small-screens;
    }
}
