@import "app/shared/core/workflow/fields/workflow-field/workflow-field.component";

mat-label {
    line-height: 2;
    margin: 0 0 2px 0;
}

.title-hint {
    margin: 0 0 14px 0;
    display: block; // occupe toute la ligne
    width: 100%;
    text-align: left !important; // force l’alignement à gauche
    align-self: flex-start; // si parent en flex
}

// Empêche la collapse de marge et garantit l'écart de 7px au-dessus du select
.wf-list-field-wrapper {
    margin-top: 5px;

    // Ajoute la marge uniquement si mat-error est visible
    &:has(mat-error) {
        margin-bottom: 20px;
    }
}

// Panneau d’options du select
// panelClass => .wf-list-panel
::ng-deep .wf-list-panel {
    // supprimer le padding automatique en haut du panneau d'options
    padding: 0 !important;

    // liste interne des options
    .mat-mdc-select-panel {
        // supprimer le padding automatique en haut du panneau d'options
        padding: 0 !important;
    }

    // selon versions, la liste peut être un role=listbox
    [role="listbox"] {
        padding: 0 !important;
        margin: 0 !important;
    }

    // line-height sur les options
    .mdc-list-item {
        min-height: 0 !important; // supprime la contrainte de hauteur
        height: auto !important; // laisse la line-height déterminer la hauteur
        padding-top: 7px; // ajustable
        padding-bottom: 7px; // ajustable
    }

    .mdc-list-item__primary-text {
        line-height: 1.5 !important; // applique le line-height
        min-height: 48px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        cursor: pointer;
    }
}
