<ng-container [formGroup]="formGroup">
  <label [for]="'select-' + formControlName" class="d-flex">
    <span class="field-label">{{ label }}@if (required) {
      <span class="required-symbol" [attr.aria-label]="'common.requiredFieldLabel'|translate">*</span>
    }</span>
  </label>
  @if (help) {
    <mat-hint [id]="'hint-' + formControlName" class="title-hint">{{ help }}</mat-hint>
  }
  <div class="wf-list-field-wrapper">
    @if (options) {
      <mat-form-field appearance="outline" class="wf-list-form-field">
        <mat-select
          [id]="'select-' + formControlName"
          [formControlName]="formControlName"
          [attr.aria-describedby]="help ? 'hint-' + formControlName : null"
          [placeholder]="'common.select.oneOptionPlaceHolder'|translate"
          [multiple]="field.definition.multiple"
          [required]="required"
          panelClass="wf-list-panel">
          @for (option of options; track option) {
            <mat-option
              [value]="option.code">
              {{ option.label }}
            </mat-option>
          }
        </mat-select>
        <mat-error>
          <em class="fa fa-info-circle fa-2x me-2"></em>{{ 'common.requiredInformationError'|translate }}
        </mat-error>
      </mat-form-field>
    }
  </div>
</ng-container>
