<mat-card class="contact-card">
    <mat-card-title class="section-title">
        {{ title }}
    </mat-card-title>
    <app-contact-information [name]="name" [email]="email"></app-contact-information>

    @if (relatedOrganizations.length) {
        <hr class="related-organizations-divider">
        <mat-card-title class="section-title related-organizations-title">
            {{ relatedTitle }}
        </mat-card-title>
        @for (relatedOrganization of relatedOrganizations; track relatedOrganization.name) {
            <app-contact-information [name]="relatedOrganization.name" [email]="relatedOrganization.adminEmail"></app-contact-information>
        }
    }
</mat-card>
